@use 'src/styles/styles';


.currencies {
    height:250px;
    overflow-y: auto;

    &-title {
        padding:styles.$gutter;
        margin-top:styles.$gutter;
        font-weight: bold;
    }
}

.currency {
    padding:styles.$gutter;
    border-top: 1px solid styles.$color-alt;
    font-weight: 500;
    cursor : pointer;

    transition: 1s;

    &:hover {
        background-color: styles.$color-alt;
        transition: styles.$transition-fast;
    }
}

.currencies-search {
    padding: styles.$gutter;
    margin-top: styles.$gutter;
    width: 100%;
    border: none;
    color: styles.$color;
    font: inherit;
    &::placeholder {
      color: styles.$color-alt;
    }
  }